* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

.box-dlc {
    
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 250px;
}

.logo-eldenring {
    width: 800px;
    margin-top: 100px;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 80px;
    color: #deb887;
}


.text-dlc {
    text-align: justify;
    font-size: 40px;
    color: #ffffff;

}

body {
    display: flex;
    height: 100vh;

}



iframe {
    width: 780px;
    height: 460px;
    border-radius: 20px;
    margin-top: 30px;
}

.box-game_base{
    margin-right: 220px;
    margin-left: 45%;
    font-size: 40px;
    color: #ffffff;
    margin-top: 20px;
}


.logo-steam{
width: 100px;
height: 100px;
margin-right: 8px;
margin-top: 18px;

}

.div-steam{
display: flex;
margin-left: 80px;
margin-top: 30px;
margin-top: 22px;
}

.background-eldenring{
    position: fixed;
    top: 0;
    z-index: -1;
    width: 1700px;
    height: auto;
   
}

.mascara-video{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);

}


button{ 
    width: 400px;
    height: 80px;
    font-size: 40px;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 10px;
    background-color: #deb887;
    border: none;
    cursor: pointer;
}

